.box{
    height: 100vh;
    background-color: #282c34;
    color: aliceblue;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    align-items: center;  
}
.image{
    width: 500px;
}
@media screen and (max-width:767px) {
    .image{
        width: 30vh;
    }

}
